<div style="color: white;">
  <h3>Good Analytics</h3>

  <% @good_analytics.each do |search| %>
    <%= "#{search[0]} (#{search[1]} searches)" %> <br>
  <% end %>

  <br>

  <h3>Bad Analytics</h3>

  <% @bad_analytics.each do |search| %>
    <%= "#{search[0]} (#{search[1]} searches)" %> <br>
  <% end %>

</div>

<%= button_to "Home", root_path, method: :get %>
